section.masonry-grid {
    position: relative;
   }
   .grid {
    margin: 0 auto;
   }
   /* clear fix */
   .grid:after {
    content: "";
    display: block;
    clear: both;
   }
   /* ---- .grid-item ---- */
   .grid-sizer,
   .grid-item {
    width: 33.333%;
   }
   .grid-item {
    float: left;
    position: relative;
    overflow: hidden;
   }
   .grid-item img {
    display: block;
    width: 100%;
   }
h1, h2{
    color: grey;
    font-style: italic;
    font-weight: bolder;
}