{% extends 'base.html'%}
{% block content %}
<style>
        body{
         background-image: url('http://tanamen.com/img/d_default/black-wall-texture/black-wall-texture-stone-5c73ff7e0e348.jpg');
         background-size: 100%;
        }
</style>

<h2 class="text-center">Photobooth Home</h2>
<div class="card-columns">
  <div class="container">
<!-- displaying photos -->
<section class="masonry-grid" id="work">
  <div class="grid">
    <div class="grid-sizer">
    {% if photos%}
    {% for pic in photos %}
       <div class="card" style="width: 23rem;" data-toggle="modal" data-target="#{{pic.id}}">
            <img src="{{pic.image.url}}" height="300vh" class="card-img" alt="img">
        </div>
        <div class="modal fade " id="{{pic.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                        <h5 class="modal-title" id="picheader">{{pic.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{pic.image.url}}" alt="..." class="card-img img-fluid">
                        <p class="imgdesc text-center">{{pic.post}}</p>
                        {% for category in pic.categories.all %}
                        <span class="btn btn-sm btn-outline-info">{{pic.category}}</span>
                        {% endfor %}
                        <a href="/location/{{pic.location}}"
                            class="btn btn-sm btn-outline-info">{{pic.location}}</a>
                            
                            <h4 class="card-title text-center">{{pic.title}}</h4>
                        <p class="card-text">{{pic.post}}</p>
                        <ul class="list-group list-unstyled">
                          <li class="list-group-item">Location:{{pic.img_loc}}</li>
                          <li class="list-group-item">Category:{{pic.img_category}}</li>
                          <li class="list-group-item">Posted:{{pic.pub_date | date}}</li>
                          <li class="list-group-item">Artist:{{pic.user.first_name}} {{pic.author.last_name}}</li>
                        </ul>

                    </div><button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Copy pic link:
                      </button>
                    <div class="modal-footer">
                        <input class="form-control input-lg" type="text" value="{{pic.image.url}}"
                            id="{{pic.id}}.url">
                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
 
  <!-- ================================================================ -->
  <script type="text/javascript">
    function copyToClipboard(element) {
        var myVar = document.getElementById(element);
        myVar.select();
        document.execCommand("copy");
    }
</script>
        {% endfor %}   
      </div>
    </div>
    </section>
    
    
    
    
    {% else %}
    <div class="row">
      <h2 class="text-center">There are No photos</h2>
    </div>
    {% endif %}
  </div>
 

{% endblock content %}