{% extends 'base.html'%}
{% block content %}

<h2 class="subtitle">Photobooth Home</h2>

<!-- displaying photos -->
<section class="masonry-grid" id="work">
  <div class="grid">
    <div class="grid-sizer"></div>
    {% if photos%}
    {% for pic in photos %}
    <!-- Looping through photos   -->
        <a data-toggle="modal" href="#{{pic.pk}}" class="picasso-modal-trigger">
          <div class="grid-item">
              <img src="{{pic.image.url}}" id="{{pic.id}}{{pic.img_name}}" alt="{{pic.img_name}}">
              <div class="content-slide-up">
                <p>{{ pic.img_name }}</p>
                <hr class="underline">
              </div>
              <div class="overlay-slide-down"></div>
            </div>
        </a>  
        {% endfor %}   
      </div>
    </section>
        
    
    {% else %}
    <div class="row">
      <h2 class="text-center">There No photos</h2>
    </div>
    {% endif %}

 

{% endblock content %}