{% extends 'base.html'%}
{% block content %}

<h2 class="subtitle">Photobooth Home</h2>

<!-- displaying photos -->
<section class="masonry-grid" id="work">
  <div class="grid">
    <div class="grid-sizer"></div>
    {% if photos%}
    {% for pic in photos %}
    <!-- Looping through photos   -->
        <a data-toggle="modal" href="#{{pic.pk}}" class="picasso-modal-trigger">
          <div class="grid-item">
              <img src="{{pic.image.url}}" id="{{pic.id}}{{pic.img_name}}" alt="{{pic.img_name}}">
              <div class="content-slide-up">
                <p>{{ pic.img_name }}</p>
                <hr class="underline">
              </div>
              <div class="overlay-slide-down"></div>
            </div>
        </a>


           <!-- ================================ ===========================-->
  <!-- Modal -->
<div class="modal fade" id="{{pic.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{pic.id}}.{{pic.img_name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card info-card">
                <img class="card-img-top" src="{{pic.image.url}}" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title text-center">{{pic.img_name}}</h4>
                  <p class="card-text">{{pic.img_desc}}</p>
                  <ul class="list-group list-unstyled">
                    <li class="list-group-item">Location:{{pic.img_loc}}</li>
                    <li class="list-group-item">Category:{{pic.img_category}}</li>
                    <li class="list-group-item">Posted:{{pic.pub_date | date}}</li>
                    <li class="list-group-item">Artist:{{pic.author.first_name}} {{pic.author.last_name}}</li>
                  </ul>
                </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ================================================================ -->
  
        {% endfor %}   
      </div>
    </section>
    
    
    
    
    {% else %}
    <div class="row">
      <h2 class="text-center">There are No photos</h2>
    </div>
    {% endif %}

 

{% endblock content %}